@model CreateArticleWithSourceModel

<h3>Create article</h3>

<form asp-action="CreateArticleWithSource" asp-controller="Article" asp-antiforgery="true" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Title">Title</label>
        <input class="form-control" type="text" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ShortDescription">Text</label>
        <textarea class="form-control" rows="10" asp-for="ShortDescription"></textarea>
        <span asp-validation-for="ShortDescription"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Content">Text</label>
        <textarea class="form-control" rows="10" asp-for="Content"></textarea>
        <span asp-validation-for="Content"></span>
    </div>
    <p>
        @Html.HiddenFor(model => model.Categories)
        <select id="select-category" name="CategoryId">
            @foreach (var category in Model.Categories)
            {
                if (category.Id == Model.Categories.First().Id)
                {
                    <option value="@category.Id" selected>@category.Name</option>
                }
                else
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
    </p>

    <div>
        <input class="btn btn-primary mt-3" type="submit" value="Confirm" />
    </div>
</form>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
