@model ArticleDetailsWithCreateCommentModel


<div class="row">
    <div class="col-12">
        <h2>@Model.ArticleDetails.Title</h2>
    </div>
    <div class="col-12">
        <h5>@Model.ArticleDetails.SourceName</h5>
    </div>
    <div class="col-12">
        <h5>@Model.ArticleDetails.DatePosting</h5>
    </div>
    <div class="col-12">
        @Html.Raw(Model.ArticleDetails.Content)
    </div>
    <div class="col-12">
        <h5>@Model.ArticleDetails.PositiveRaiting</h5>
    </div>
</div>

<div class="row">
    <button class="col-12 btn btn-primary commments-toggle-btn-close" id="commments-toggle-btn">Comments</button>
</div>

<div class="collapse" id="collapsisbleComments" aria-expanded="false">

    <div class="comments">
    </div>

    <form class="add-comment-form" method="post" asp-antiforgery="true">
        <input id="article-id" type="hidden" asp-for="@Model.CreateComment.ArticleId" />
        <div class="mb-3">
            <label class="form-label" asp-for="@Model.CreateComment.Content">Comment Text</label>
            <textarea class="form-control" id="content-area" rows="5" asp-for="@Model.CreateComment.Content"></textarea>
            <span asp-validation-for="@Model.CreateComment.Content"></span>
        </div>
        <div>
            <input class="btn bg-primary" id="add-comment-btn" type="submit" value="Confirm" />
        </div>
    </form>
</div>

@section Scripts
    {
    <script src="/js/article-details.js"></script>
    <script src="/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="/js/signalr/dist/browser/comments.js"></script>
}