@model MyAccountModel

<h3>Profile</h3>

<div>
    <form class="register-form" asp-action="ChangeProfile" asp-controller="Account" asp-antiforgery="true" method="post" enctype="multipart/form-data">
        <h2 class="need-hide">@Model.Name</h2>
        <div class="form-group hiden">
            <div class="register-input">
                <label class="form-label" asp-for="Name" >Name</label>
                <input class="form-control" type="text" asp-for="Name" value="@Model.Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <img class="need-hide" src="@Model.Avatar" alt="Аватар">
        <div class="hiden">
            <div class="register-input w-100">
                <label class="form-label" asp-for="AvatarChange">Avatar:</label>
                <input type="file" name="AvatarChange" class="form-control" asp-for="AvatarChange" accept="image/*" maxlength="102400" />
                <span asp-validation-for="AvatarChange"></span>
            </div>
        </div>
        <p class="need-hide">О себе: @Model.AboutMyself</p>
        <div class="register-input register-textarea-wrapper hiden">
            <label class="form-label" asp-for="AboutMyself" >AboutMyself</label>
            <textarea class="form-control" type="text" value="@Model.AboutMyself" asp-for="AboutMyself"></textarea>
        </div>
        <p class="need-hide">Похвалил: @Model.MyLikes</p>
        <p class="need-hide">Похвалили: @Model.OnMeLikes</p>
        <p class="need-hide">@Model.MailNotification</p>
        <div class="w-100 align-items-center hiden">
            <label class="form-label register-label-checkbox" asp-for="MailNotification">MailNotification</label>
            <input type="checkbox" name="MailNotification" asp-for="MailNotification" checked="@Model.MailNotification">
        </div>
        <div class="register-button-wrapper hiden">
            <button сlass="btn btn-subscribe" type="submit"> Subscribe</button>
        </div>
        @Html.HiddenFor(model => model.Avatar)
        @Html.HiddenFor(model => model.Raiting)
        @Html.HiddenFor(model => model.MyLikes)
        @Html.HiddenFor(model => model.OnMeLikes)
    </form>
    <div class="hiden">
        <input сlass="btn" id="btn-stop-hide" type="button" value="Back" />
    </div>
    <div class="need-hide">
        <input сlass="btn" id="btn-start-hide" type="button" value="Settings" />
    </div>
</div>


@section Scripts
    {
    <script src="/js/myAccount-settings.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}