@model MyAccountModel

<h3>Profile</h3>

<div>
    <img src="@Model.Avatar" " alt="Аватар">
    <p>@Model.Raiting</p>
    <h2>@Model.Name</h2>
    <p>@Model.AboutMyself</p>
    <p>@Model.MailNotification</p>
</div>