@model MyAccountModel

<h3>Profile</h3>

<div>
    <img src="@Model.Avatar" alt="Аватар">
    <p>Рейтинг: @Model.Raiting</p>
    <h2>@Model.Name</h2>
    <p>О себе: @Model.AboutMyself</p>
    <p>Похвалил: @Model.MyLikes</p>
    <p>Похвалили: @Model.OnMeLikes</p>
    <p>@Model.MailNotification</p>

</div>