@model ProfileModel

<h3>Profile</h3>

<div>
    <img src="@Model.Avatar" " alt="Аватар"></img>
    <p>@Model.Raiting</p>
    <h2>@Model.Name</h2>
    <p>@Model.AboutMyself</p>
    <p>@Model.MyLikes</p>
    <p>@Model.OnMeLikes</p>
</div>